extends layout

block content
  h1= title
  p Welcome to #{title}
  p Some routes defined:
  ul
  li 
    a(href="https://mysterious-retreat-88327.herokuapp.com/cool/") COOL ASCII FACES
    p Refresh everytime for a new emoji
  li
  li
